<p>
    form-select works!
</p>


<slot name="left"></slot>
<slot></slot>

<p> cosa</p>

<slot name="right"></slot>


<ng-content select=".left"></ng-content>
<input placeholder="assad" [(ngModel)]="value">