<slot name="bottom">
</slot>

<slot></slot>
<p>
    form-input works!
</p>


<div *ngIf="test">
    982391h9
    <slot name="top" class="cosa"></slot>
</div>

<div *ngIf="!test">
    asda
    <slot name="top" class="cosa"></slot>
</div>



<ng-content></ng-content>