<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank
        </ion-title>
        <!-- <div slot="start">pene</div> -->
    </ion-toolbar>
</ion-header>

<ion-content>



    <!-- <fom-select (dataChanged)="miau($event)">
        <div slot="left">asdasd sa das dsa</div>
    </fom-select> -->



    <control-input test="true">
        <div slot="top"> bottom slot </div>
        <div slot="bottom"> top slot  asd as</div>
    </control-input>




</ion-content>